# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*~

pelsh/pelsh
keymgr/keymgr
.secret_id_for_service
my.known.hosts*
pelican-server/pelican-server
pelcli/pelcli
sshcli/sshcli
sshd/sshd
store/boltdb
store/store
store/bolt.db
store/bolt.db.bk
store/bolt.db.bk.snappy
sshd/temp-2048-key
sshd/temp-2048-key.pub
sshd/id_rsa
sshd/id_rsa.pub
*txt.bk
*txt
sshd/host-key-id-rsa
sshd/host-key-id-rsa.pub
